<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
"http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
  <property name="fileExtensions" value="java"/>
  <module name="TreeWalker">

    <module name="BooleanExpressionComplexity">
    </module>

    <module name="CyclomaticComplexity"/>

    <module name="EmptyCatchBlock"/>

    <module name="AvoidStarImport"/>

    <module name="IllegalImport">
      <property name="illegalPkgs" value="it.unipd.tos.examplePackageIllegal"/>
      <property name="illegalClasses" value="it.unipd.tos.model.exampleClassIllegal"/>
    </module>

    <module name="NeedBraces"/>

    <module name="MethodLength"/>

  </module>

  <module name="FileLength"/>

  <module name="LineLength">
    <property name="max" value="110"/>
  </module>

  <module name="FileTabCharacter"/>

  <module name="Header">
    <property name="header" value="////////////////////////////////////////////////////////////////////\n// Riccardo Calcagno 1193479\n////////////////////////////////////////////////////////////////////" />
  </module>

</module>